/*/////////////////////////Int/////////////////////////*/
* {
  padding: 0;
  box-sizing: border-box;
}
/*/////////////////////////End_Int/////////////////////////*/

/*/////////////////////////Links/FloatClear/Extras/////////////////////////*/
.clr {
  clear: both;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #808080;
}

a:active {
  color: #c0c0c0;
}
/*/////////////////////////End_Links/FloatClear/Extras/////////////////////////*/

/*/////////////////////////Body/////////////////////////*/
body {
  background-image: url(./components/SFFd.gif);
}
/*/////////////////////////End_Body/////////////////////////*/

/*/////////////////////////Make_Some_Text_Green/////////////////////////*/
.what-if-it-was-green {
  color: rgb(0, 255, 64);
  /* display: inline; */
}
/*/////////////////////////End_Make_Some_Text_Green/////////////////////////*/

/*/////////////////////////New_Header/////////////////////////*/
header {
  /*global header properties*/
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  font-size: 2.1em;
  position: fixed;

  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 28px;
  padding-bottom: 28px;
  background-image: url(./components/SFFd.gif);
  color: white;
  opacity: 1;

  animation: fade-in 500ms forwards;
  transform: scale(0);
  opacity: 0;
}

.hi {
  /*This is the Logo*/
  width: 45%;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

.hcontainer {
  /*container for header*/
  box-sizing: border-box;
  font-weight: 100;
  font-style: italic;
  float: right;
  width: 55%;
  text-align: right;
  padding: 8px;
  word-spacing: 1em;
}

.hcontainerlink {
  font-size: 0.9em;
  display: inline-table;
  margin-right: 35px;
}

.hcontainerlink {
  transition: font-size 500ms;
}

.hcontainerlink:hover {
  font-size: 1em;
}
/*/////////////////////////End_New_Header/////////////////////////*/

/*/////////////////////////Side_Vertical_Links_Other/////////////////////////*/
.medialinks {
  writing-mode: vertical-lr; /*sideways-lr formerly but not supported on most browsers*/
  display: inline;
  position: fixed;
  top: 30%;
  left: 30px;

  animation: fade-in 500ms forwards;
  transform: scale(0);
  opacity: 0;
}

nav#medialinktext {
  word-spacing: 1em;
  letter-spacing: 0.4em;
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.4em;
}

#medialink {
  font-size: 1em;
  color: white;
}

.spacer {
  padding-bottom: 111px; /*the same hight as the header*/
}
/*/////////////////////////End_Side_Vertical_Links_Other/////////////////////////*/

/*/////////////////////////Animations/////////////////////////*/
@keyframes fade-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/*/////////////////////////End_Animations/////////////////////////*/

/*/////////////////////////Media_Quieries/////////////////////////*/
@media (max-width: 1355px) {
  header {
    font-size: 1.5em;
  }
}
/*/////////////////////////End_Media_Quieries/////////////////////////*/

/*/////////////////////////Links_Visited/////////////////////////*/
a.four {
  text-decoration: none;
  color: rgb(0, 255, 64);
}

a.four:hover {
  color: #808080;
}

a.four:active {
  color: #ff0000;
}
/*/////////////////////////End_Links_Visited/////////////////////////*/

/*/////////////////////////Back_Button_Link/////////////////////////*/
a.five {
  text-decoration: none;
  color: rgb(0, 255, 64);
}

a.five:hover {
  color: #808080;
}

a.five:active {
  color: #ff0000;
}
/*/////////////////////////End_Back_Button_Link/////////////////////////*/

/*/////////////////////////Content_Div/////////////////////////*/

.contentdiv {
  position: absolute;
  top: 250px;
  left: 150px;
  padding: 10px 100px;
  columns: 450px 3;
  min-height: 10%;

  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  text-align: left;
  color: white;

  animation: fade-in 500ms forwards;
  transform: scale(0%);
  opacity: 0%;
}

.contentdiv-contact {
  position: absolute;
  top: 150px;
  left: 150px;
  width: 80%;


  animation: fade-in 500ms forwards;
  transform: scale(0%);
  opacity: 0%;
}

p,
h3 {
  margin-top: 0;
}

/*/////////////////////////Recomended_Widget////////////////////*/
.recomendedImage {
  position: inherit;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: auto\9;

  animation: fade-in 500ms forwards;
  transform: scale(0);
  opacity: 0;
}

.recomended {
  position: relative;
}

.discription {
  position: absolute;
  top: 40px;
  left: 20px;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  font-size: 0.4em;
  color: rgb(0, 255, 64);
  letter-spacing: 0.2em;
  background: rgba(0, 0, 0, 0.5);

  animation: fade-in 500ms forwards;
  transform: scale(0);
  opacity: 0;
}
/*/////////////////////////End_Recomended_Widget////////////////////*/

/*/////////////////////////Links_Visited_Widget////////////////////*/
#links-visited-widget {
  position: absolute;
  top: 510px;
  left: 100px;
  margin-right: 100px;
}

.highLightBorder {
  border: 5px solid rgb(0, 255, 64);
  padding: 20px 50px;
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  font-size: 1em;
  letter-spacing: 6px;
  word-spacing: 0.2em;
  text-align: left;
  list-style: none;
  color: white;
}

.all-the-links {
  list-style: none;
}

.li-link-style {
  display: inline-flex;
}

.copyButton {
  text-decoration: none;
  color: white;
  border: 0;
  background: none;
  width: 75px;
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  font-size: 0.8em;
}

.copyButton:hover {
  background-color: rgb(0, 255, 64, 0.15);
}

.copyButton:active {
  background-color: rgb(128, 128, 128, 0.15);
  color: rgb(0, 255, 64);
}

/*/////////////////////////End_Links_Visited_Widget////////////////////*/

/*/////////////////////////End_Content_Div/////////////////////////*/


/* Burger Menu */
.bm-burger-button {
  display: none;
  margin-right: 20px;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 84%;
  top: 34px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background: black;
  border: 2px solid #00f43d;
  /* opacity: 0.2; */
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden;
  scrollbar-width: none;

}

.bm-menu-wrap{
  top: 0;
  left: 0;
}

.bm-morph-shape {
  fill: white;
}

.bm-item-list {
  color: white;
}

.bm-overlay {
  background: #00f43d;
  opacity: 0.3;
  top: 0;
  left: 0;
}

.menu-item{
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.2s;
  font-size: 1.15em;
}

.bm-item-list > a {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 100;
  font-size: 2.2em;
  font-style: italic;
  /* text-align: right; */
  word-spacing: 1em;
  font-family: "Roboto";
  margin-top: 30px;

}


.menu-item:hover{
  opacity: 0.7;
}

.menu-item:active{
  color: #00f43d;
}

/* @keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
} */

.contact-title {
  font-family: "Roboto";
  color: white;
  text-align: center;
}

.form-center {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

form {
  background-color: black;
  border: 3px solid white;
  padding: 20px;
  width: 500px;
  color: white;
}

form > h1 {
  text-align: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font-family: "Roboto";
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid white;
  background-color: black;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  font-family: "Roboto";
  width: 100%;
  text-align: center;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: white;
  color: black;
}

@media (max-width: 1280px) {
  form {
    width: 50%;
  }
}

@media (max-width: 600px) {
  form {
    width: 75%;
  }
}
/*/////////////////////////Media_Quieries/////////////////////////*/


@media (min-width: 1930px) {
  header {
    font-size: 2.7em;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url(./components/SFFd.gif);
  }
  
  .hcontainer {
    padding: 16px;
    word-spacing: 1.4em;
  }

  .medialinks {
    top: 40%;
    left: 40px;
  }
  
  nav#medialinktext {
    word-spacing: 1.4em;
    letter-spacing: 0.6em;
    letter-spacing: 0.6em;
  }
  
  #medialink {
    font-size: 1.6em;
  }

  .contentdiv {
    top: 350px;
    left: 250px;
    padding: 10px 100px;
    columns: 650px 3;
    min-height: 20%;
    font-size: 2em;
  }
  
  .contentdiv-contact {
    top: 350px;
    left: 250px;
    width: 80%;
  }
  
  p,
  h3 {
    margin-top: 0;
  }

  .form-center {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  form {
    border: 4px solid white;
    padding: 35px;
    width: 750px;
    font-size: 1.8em;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 24px 36px;
    margin: 18px 0;
    border: 3px solid white;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 16px 22px;
    margin: 12px 0;
    border-radius: 5px;
  }
}

@media (min-width: 2048px) {
  header {
    font-size: 3em;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 68px;
    padding-bottom: 68px;
  }
  
  .hcontainer {
    padding: 16px;
    word-spacing: 1.4em;
  }

  .medialinks {
    top: 50%;
    left: 50px;
  }
  
  nav#medialinktext {
    word-spacing: 1.4em;
    letter-spacing: 0.6em;
    letter-spacing: 0.6em;
  }
  
  #medialink {
    font-size: 1.8em;
  }

  .contentdiv {
    top: 400px;
    left: 300px;
    padding: 10px 100px;
    columns: 750px 3;
    min-height: 30%;
    font-size: 2.4em;
  }

  .contact-title h1 {
    font-size: 2.8em;
  }

  .form-center {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  
  form {
    border: 5px solid white;
    padding: 45px;
    width: 950px;
    font-size: 2.2em;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    border-radius: 6px;
  }
  
  button[type="submit"] {
    border-radius: 6px;
  }
}

/* @media (min-width: 2560px){
  header {
    font-size: 2.7em;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url(./components/SFFd.gif);
  }
  
  .hcontainer {
    padding: 16px;
    word-spacing: 1.4em;
  }

  .medialinks {
    top: 40%;
    left: 40px;
  }
  
  nav#medialinktext {
    word-spacing: 1.4em;
    letter-spacing: 0.6em;
    letter-spacing: 0.6em;
  }
  
  #medialink {
    font-size: 1.6em;
  }

  .contentdiv {
    top: 350px;
    left: 250px;
    padding: 10px 100px;
    columns: 650px 3;
    min-height: 20%;
    font-size: 2em;
  }
  
  .contentdiv-contact {
    top: 350px;
    left: 250px;
    width: 80%;
  }
  
  p,
  h3 {
    margin-top: 0;
  }

  .form-center {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  form {
    border: 4px solid white;
    padding: 35px;
    width: 750px;
    font-size: 1.8em;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 24px 36px;
    margin: 18px 0;
    border: 3px solid white;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 16px 22px;
    margin: 12px 0;
    border-radius: 5px;
  }
} */

@media (min-width: 2760px) {
  header {
    font-size: 3.8em;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 88px;
    padding-bottom: 88px;
  }
  
  .hcontainer {
    padding: 22px;
    word-spacing: 1.6em;
  }

  .medialinks {
    top: 40%;
    left: 60px;
  }
  
  #medialink {
    font-size: 2.4em;
  }

  .contentdiv {
    top: 450px;
    left: 350px;
    padding: 10px 100px;
    columns: 1000px 3;
    min-height: 30%;
    font-size: 3.4em;
  }

  .contact-title h1 {
    font-size: 3.4em;
  }

  .form-center {
    margin-top: 95px;
    margin-bottom: 95px;
  }
  
  form {
    border: 6px solid white;
    padding: 65px;
    width: 1200px;
    font-size: 3em;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    border-radius: 7px;
  }
  
  button[type="submit"] {
    border-radius: 7px;
  }
}

@media (max-width: 1119px) {
  .contentdiv {
    left: 50px;
    font-size: 1.2em;
    padding: 10px 50px;
  }

  .contentdiv-contact {
    left: 100px;
    font-size: 1.2em;
    padding: 10px 50px;
  }

  form {
    width: 100%;
  }
  

  #links-visited-widget {
    top: 350px;
    left: 50px;
  }

  .highLightBorder {
    font-size: 0.8em;
  }
}

@media (max-width: 900px) {
  #links-visited-widget {
    top: 450px;
  }
  
  .hi {
    width: 90%;
  }

  .hcontainer {
    display: none;
  }

  .bm-burger-button {
    display: inline;
  }
}

@media (max-width: 700px) {
  #links-visited-widget {
    font-size: 0.6em;
    top: 650px;
  }

  .contentdiv-contact {
    padding-left: 0px;
  }
  
  .contentdiv {
    top: 180px;
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .medialinks {
    display: none;
  }

  .contentdiv {
    top: 140px;
    left: 0px;
  }

  .contentdiv-contact {
    width: 100%;
    top: 140px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 370px) {
  header h2 {
    font-size: 1.2em;
  }

  .contentdiv {
    top: 120px;
    font-size: 0.8em;
  }
}
/*/////////////////////////End_Media_Quieries/////////////////////////*/
